# Frontend — Expo
EXPO_PUBLIC_SUPABASE_URL=https://diucfhyirwecrnvyhdmj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpdWNmaHlpcndlY3JudnloZG1qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2MTg5NTIsImV4cCI6MjA5MzE5NDk1Mn0.A-eirQZYipxU5BoLaKCuZmJqjC4Hc7iNwwRy6Ne7qGI

# IP o hostname del backend (sin http://, sin puerto)
# En dispositivo físico: usa tu IP local (ej. 192.168.1.100)
EXPO_PUBLIC_API_HOST=localhost

# Cloudinary — obtén el cloud name en: https://cloudinary.com/console (esquina superior izquierda)
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=TU_CLOUD_NAME_AQUI
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=ml_default
